<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--
 * Copyright (C) 2010 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
-->
    <head>
        <title>SampleSync: {{ title }}</title>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css" media="screen" />
    </head>
    <body>
        <h1>SampleSync: {{ header }}</h1>
        <form method="POST" action="{{ action }}">
            <table class="form" cellpadding="0" cellspacing="0">
            {% autoescape off %}
              {{ form_data_rows }}
            {% endautoescape %}
            </table>
            <input type="submit" name="Save" value="Save Changes" />
            <input type="button" name="Cancel" value="Cancel" onclick="document.location='/';return false;" />
            {% if has_contactId %}
            <input type="hidden" name="id" value="{{ contactId }}" />
            {% endif %}
            {% if has_handle %}
            <input type="hidden" name="username" value="{{ handle }}" />
            {% endif %}
        </form>
    </body>
</html>
